@import "../../styles/main.css";

main {
    background: #f2f2f2;
    padding: 0 0 64px;
}
.basket-header {
    padding: 32px 0;
    width: 100%;
}
.breadcrumbs {
     font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
     display: flex;
     flex-direction: row;
     gap: 10px;
     margin: 0 auto 0 auto;
     width: 1408px;
     font-size: 11px;
     font-weight: 500;
     color: #303030;
     padding-bottom: 28px;
     background: #f2f2f2;
}

.basket__title {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 30px;
    width: 1408px;
    margin: 0 auto 0 auto;
    font-weight: 600;
    color: #303030;
}

.basket {
    width: 1408px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.basket-list {
    display: flex;
    flex-direction: column;
    width: 1024px;
}
.basket-list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: calc(72px - 48px);
    padding: 24px;
    background: #ffffff;
    margin: 0 0 8px;
}
.basket-list__header label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}
.basket-list-card {
    height: calc(144px - 48px);
    padding: 24px;
    background: #ffffff;
}
.basket-subscribe_checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #c7c7c7;
    &:checked {
        background-color: #52ae32;
        border: none;
        &::before {
            content: "✓";
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.basket-list__header-select-all {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #303030;
}

.basket-delete-select {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 13px;
    text-decoration: underline;
    color: #52ae32;
}
.basket-delete-select:hover {
    color: #bccf05;
    cursor: pointer;
}
.basket-list-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.basket-list-card__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 548px;
}
.basket-delete_number {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #c7c7c7;
}

.basket-list-card__item-link img{
    height: 96px;
    width: 96px;
}
.basket-list-card__item-title {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #303030;
    margin: 0 0 8px;
}
.basket-list-card__item-details {
    display: flex;
    flex-direction: column;
}
.basket-list-card-line {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.basket-list-card-line__item {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #303030;
}
.basket-list-card-controls__quantity {
    width: 116px;
}
.num-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    border: 1px solid #f2f2f2;
    border-radius: 9999px;
}
.num-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background: #ffffff;
    border-radius: 9999px;
    cursor: pointer;
}
.num-form__svg {
    display: flex;
    width: 17px;
    height: 17px;
    color: #303030;
}
.num-form__svg-minus {
    display: flex;
    width: 17px;
    height: 17px;
    color: currentColor;
}
.num-form__input {
    text-align: center;
    width: 32px;
    height: 24px;
    border: none;
    background: #ffffff;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.basket-list-card-controls {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}
.basket-list-card-controls__price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    width: 116px;
}
.basket-price__extras {
    display: flex;
    flex-direction: row;
    gap: 4px;
    height: 24px;
}

.basket-price__extras-sale {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 10px;
    color: #ffffff;
    line-height: 1;
}

.basket-price__extras-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e51616;
    padding: 0 5px;
    height: 16px;

    border-radius: 9999px;
}
.basket-price__extras-old {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 13px;
    color: #525252;
}
.basket-price__current {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #303030;
    height: 24px;
}
.basket-list-card-controls__action-svg {
    height: 24px;
    width: 24px;
    cursor: pointer;

}
.basket-list-card-controls__action-svg svg {
    height: 24px;
    width: 24px;
    color: #c7c7c7;
    transition: color 0.3s ease;

}
.basket-list-card-controls__action-svg svg:hover {
    color: #303030;
}

.basket-list-card-controls__actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.basket-check-summary {
    background: #ffffff;
    width: 100%;
    padding: 24px;
}
.checkout-summary__main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.justify-line {
    display: flex;
    justify-content: space-between;
    height: 24px;
}
.justify-line__title {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 15px;
    color: #303030;
}
.justify-line__desc {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.dark-grey {
    color: #303030;
}
.red {
    color: #e51616;
}
.checkout-summary__total {
    height: calc(45px - 17px);
    margin: 16px 0 0;
    padding: 16px 0 0;
    border-top: 1px solid #f2f2f2;
}
.justify-line-large {
    height: 28px;
    align-items: center;
}
.strong {
    font-size: 18px;
    font-weight: 600;
}

.checkout-summary__notification {
    padding: 16px 24px;
}

.checkout-summary__notification-inner {
    display: flex;
    flex-direction: row;
}
.notification-inner__svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
.notification-inner__svg svg {
    height: 24px;
    width: 24px;
}
.notification-inner__text {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 15px;
    color: #525252;
    padding: 4px 0;
    line-height: 1.3333333333;
}

.checkout-summary__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0;
    height: 48px;
    background: #52ae32;
    border-radius: 9999px;
    cursor: pointer;
    transition: background 0.3s ease;

}
.checkout-summary__action:hover {
    background: #5bc238;

}
.checkout-summary__action__button {

}
.button-text {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.basket-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 565px;
    margin: 20px 0 40px;
    padding: 0 10px 10px;
    background-color: white;
}
.basket-catalog-container {
    margin: 0 113px;
    padding: 30px 0;

}
.basket-catalog__header {
    width: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Roboto Light", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #303030;
    margin: 0 0 32px;
}

