.top-header {
    display: flex;
    justify-content: space-between;
    background: #525252;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0 270px;
    height: 40px;
    align-items: center;
}

.left-top__header {
    display: flex;
    gap: 20px;
}
.city-select {
    display: flex;
    gap: 7px;
    color: white;
    font-style: inherit;
}
.city-name {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.navi {
    display: flex;
    gap: 15px;
    font-style: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    align-items: center;
}
.geo-svg {
    height: 17px;
    width: 17px;
}
.navi-select {
    cursor: pointer;
    padding-left: 5px;
    position: relative;
}
.navi-select__no-br {
    cursor: pointer;
    padding-left: 5px;
    position: relative;
}

.navi-select::before {
    cursor: default;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -12px;
    width: 1px;
    height: 12px;
    background-color: #fff;
    opacity: .08;
}

.right-top__header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: white;
    cursor: pointer;
}
.phone-svg {
    height: 13px;
    width: 13px;
}